DATABASE_URL=postgresql://selection_auto_parts:CHANGE_ME@localhost:5432/selection_auto_parts
DATABASE_URL_UNPOOLED=postgresql://selection_auto_parts:CHANGE_ME@localhost:5432/selection_auto_parts
API_PORT=3002
NEXT_PUBLIC_SITE_URL=http://localhost:3000
